<record>
	<!-- resource manager options -->

	<!-- dont preload anything in this folder -->
	<boolean id="preload" value="false"/>

	<!-- turn off auto mapping -->
	<boolean id="amap" value="false"/>

	<!-- logo mappings - generated with FM XML for Mac -->
	<list id="maps">
		<record from="2000062735_media" to="graphics/pictures/media_source/2000062735/logo"/>
		<record from="83010033_media" to="graphics/pictures/media_source/83010033/logo"/>
		<record from="46025176_media" to="graphics/pictures/media_source/46025176/logo"/>
		<record from="2000065463_media" to="graphics/pictures/media_source/2000065463/logo"/>
		<record from="83010026_media" to="graphics/pictures/media_source/83010026/logo"/>
		<record from="83010146_media" to="graphics/pictures/media_source/83010146/logo"/>
		<record from="46025202_media" to="graphics/pictures/media_source/46025202/logo"/>
		<record from="83010018_media" to="graphics/pictures/media_source/83010018/logo"/>
		<record from="83010030_media" to="graphics/pictures/media_source/83010030/logo"/>
		<record from="160_media" to="graphics/pictures/media_source/160/logo"/>
		<record from="83010151_media" to="graphics/pictures/media_source/83010151/logo"/>
		<record from="2000062737_media" to="graphics/pictures/media_source/2000062737/logo"/>
		<record from="94051065_media" to="graphics/pictures/media_source/94051065/logo"/>
		<record from="94051061_media" to="graphics/pictures/media_source/94051061/logo"/>
		<record from="2000062733_media" to="graphics/pictures/media_source/2000062733/logo"/>
		<record from="83010141_media" to="graphics/pictures/media_source/83010141/logo"/>
		<record from="83010182_media" to="graphics/pictures/media_source/83010182/logo"/>
		<record from="83010009_media" to="graphics/pictures/media_source/83010009/logo"/>
		<record from="2000040828_media" to="graphics/pictures/media_source/2000040828/logo"/>
		<record from="2000065464_media" to="graphics/pictures/media_source/2000065464/logo"/>
		<record from="2000065128_media" to="graphics/pictures/media_source/2000065128/logo"/>
		<record from="2000040829_media" to="graphics/pictures/media_source/2000040829/logo"/>
		<record from="83010154_media" to="graphics/pictures/media_source/83010154/logo"/>
		<record from="2000062732_media" to="graphics/pictures/media_source/2000062732/logo"/>
		<record from="2000062730_media" to="graphics/pictures/media_source/2000062730/logo"/>
		<record from="83010209_media" to="graphics/pictures/media_source/83010209/logo"/>
		<record from="32033379_media" to="graphics/pictures/media_source/32033379/logo"/>
		<record from="2000144394_media" to="graphics/pictures/media_source/2000144394/logo"/>
		<record from="83010045_media" to="graphics/pictures/media_source/83010045/logo"/>
		<record from="32033378_media" to="graphics/pictures/media_source/32033378/logo"/>
		<record from="94051039_media" to="graphics/pictures/media_source/94051039/logo"/>
		<record from="83010084_media" to="graphics/pictures/media_source/83010084/logo"/>
		<record from="261_media" to="graphics/pictures/media_source/261/logo"/>
		<record from="2000145089_media" to="graphics/pictures/media_source/2000145089/logo"/>
		<record from="83010052_media" to="graphics/pictures/media_source/83010052/logo"/>
		<record from="2000062740_media" to="graphics/pictures/media_source/2000062740/logo"/>
		<record from="161046_media" to="graphics/pictures/media_source/161046/logo"/>
		<record from="2000286724_media" to="graphics/pictures/media_source/2000286724/logo"/>
		<record from="83010094_media" to="graphics/pictures/media_source/83010094/logo"/>
		<record from="2000144392_media" to="graphics/pictures/media_source/2000144392/logo"/>
		<record from="2000144386_media" to="graphics/pictures/media_source/2000144386/logo"/>
		<record from="83010080_media" to="graphics/pictures/media_source/83010080/logo"/>
		<record from="2000066053_media" to="graphics/pictures/media_source/2000066053/logo"/>
		<record from="83010123_media" to="graphics/pictures/media_source/83010123/logo"/>
		<record from="94051029_media" to="graphics/pictures/media_source/94051029/logo"/>
		<record from="83010135_media" to="graphics/pictures/media_source/83010135/logo"/>
		<record from="94044545_media" to="graphics/pictures/media_source/94044545/logo"/>
		<record from="2000144391_media" to="graphics/pictures/media_source/2000144391/logo"/>
		<record from="83010068_media" to="graphics/pictures/media_source/83010068/logo"/>
		<record from="90025712_media" to="graphics/pictures/media_source/90025712/logo"/>
		<record from="83010134_media" to="graphics/pictures/media_source/83010134/logo"/>
		<record from="134_media" to="graphics/pictures/media_source/134/logo"/>
		<record from="280_media" to="graphics/pictures/media_source/280/logo"/>
		<record from="2000145097_media" to="graphics/pictures/media_source/2000145097/logo"/>
		<record from="2000144389_media" to="graphics/pictures/media_source/2000144389/logo"/>
		<record from="83010058_media" to="graphics/pictures/media_source/83010058/logo"/>
		<record from="83010104_media" to="graphics/pictures/media_source/83010104/logo"/>
		<record from="83010138_media" to="graphics/pictures/media_source/83010138/logo"/>
		<record from="94051024_media" to="graphics/pictures/media_source/94051024/logo"/>
		<record from="46025097_media" to="graphics/pictures/media_source/46025097/logo"/>
		<record from="36_media" to="graphics/pictures/media_source/36/logo"/>
		<record from="83010072_media" to="graphics/pictures/media_source/83010072/logo"/>
		<record from="83010099_media" to="graphics/pictures/media_source/83010099/logo"/>
		<record from="2000145095_media" to="graphics/pictures/media_source/2000145095/logo"/>
		<record from="240_media" to="graphics/pictures/media_source/240/logo"/>
		<record from="27_media" to="graphics/pictures/media_source/27/logo"/>
		<record from="32033376_media" to="graphics/pictures/media_source/32033376/logo"/>
		<record from="83010077_media" to="graphics/pictures/media_source/83010077/logo"/>
		<record from="2000040842_media" to="graphics/pictures/media_source/2000040842/logo"/>
		<record from="83010088_media" to="graphics/pictures/media_source/83010088/logo"/>
		<record from="2000040843_media" to="graphics/pictures/media_source/2000040843/logo"/>
		<record from="83010062_media" to="graphics/pictures/media_source/83010062/logo"/>
		<record from="90025718_media" to="graphics/pictures/media_source/90025718/logo"/>
		<record from="133_media" to="graphics/pictures/media_source/133/logo"/>
		<record from="2000066272_media" to="graphics/pictures/media_source/2000066272/logo"/>
		<record from="83010128_media" to="graphics/pictures/media_source/83010128/logo"/>
		<record from="2000083956_media" to="graphics/pictures/media_source/2000083956/logo"/>
		<record from="32033375_media" to="graphics/pictures/media_source/32033375/logo"/>
		<record from="2000065551_media" to="graphics/pictures/media_source/2000065551/logo"/>
		<record from="89019989_media" to="graphics/pictures/media_source/89019989/logo"/>
		<record from="2000145092_media" to="graphics/pictures/media_source/2000145092/logo"/>
		<record from="2000040840_media" to="graphics/pictures/media_source/2000040840/logo"/>
		<record from="32033374_media" to="graphics/pictures/media_source/32033374/logo"/>
		<record from="83010101_media" to="graphics/pictures/media_source/83010101/logo"/>
		<record from="46026000_media" to="graphics/pictures/media_source/46026000/logo"/>
		<record from="46029333_media" to="graphics/pictures/media_source/46029333/logo"/>
		<record from="27165186_media" to="graphics/pictures/media_source/27165186/logo"/>
		<record from="94051035_media" to="graphics/pictures/media_source/94051035/logo"/>
		<record from="83010166_media" to="graphics/pictures/media_source/83010166/logo"/>
		<record from="83010172_media" to="graphics/pictures/media_source/83010172/logo"/>
		<record from="83010012_media" to="graphics/pictures/media_source/83010012/logo"/>
		<record from="2000040827_media" to="graphics/pictures/media_source/2000040827/logo"/>
		<record from="2000065126_media" to="graphics/pictures/media_source/2000065126/logo"/>
		<record from="2000040832_media" to="graphics/pictures/media_source/2000040832/logo"/>
		<record from="94051047_media" to="graphics/pictures/media_source/94051047/logo"/>
		<record from="94051051_media" to="graphics/pictures/media_source/94051051/logo"/>
		<record from="83010005_media" to="graphics/pictures/media_source/83010005/logo"/>
		<record from="2000040830_media" to="graphics/pictures/media_source/2000040830/logo"/>
		<record from="2000040824_media" to="graphics/pictures/media_source/2000040824/logo"/>
		<record from="46020005_media" to="graphics/pictures/media_source/46020005/logo"/>
		<record from="2000065125_media" to="graphics/pictures/media_source/2000065125/logo"/>
		<record from="223_media" to="graphics/pictures/media_source/223/logo"/>
		<record from="2000040831_media" to="graphics/pictures/media_source/2000040831/logo"/>
		<record from="83010158_media" to="graphics/pictures/media_source/83010158/logo"/>
		<record from="83010148_media" to="graphics/pictures/media_source/83010148/logo"/>
		<record from="93_media" to="graphics/pictures/media_source/93/logo"/>
		<record from="83010000_media" to="graphics/pictures/media_source/83010000/logo"/>
		<record from="2000040834_media" to="graphics/pictures/media_source/2000040834/logo"/>
		<record from="83010175_media" to="graphics/pictures/media_source/83010175/logo"/>
		<record from="94051069_media" to="graphics/pictures/media_source/94051069/logo"/>
		<record from="83010388_media" to="graphics/pictures/media_source/83010388/logo"/>
		<record from="94051055_media" to="graphics/pictures/media_source/94051055/logo"/>
		<record from="94051043_media" to="graphics/pictures/media_source/94051043/logo"/>
		<record from="2000062739_media" to="graphics/pictures/media_source/2000062739/logo"/>
		<record from="83010003_media" to="graphics/pictures/media_source/83010003/logo"/>
		<record from="224_media" to="graphics/pictures/media_source/224/logo"/>
		<record from="2000145032_media" to="graphics/pictures/media_source/2000145032/logo"/>
		<record from="2000062738_media" to="graphics/pictures/media_source/2000062738/logo"/>
	</list>
</record>